{
  parser: babel-eslint,
  // extends: standard,
  extends: airbnb,
  parserOptions: { ecmaVersion: 2017 },
  rules: {
    class-methods-use-this: warn,
    comma-dangle: [error, always-multiline],
    comma-style: [error, last],
    eol-last: [error, always],
    import/no-unresolved: off,
    import/no-dynamic-require: off,
    indent: [error, 2, { SwitchCase: 1 }],
    global-require: off,
    linebreak-style: [error, unix],
    max-len: [warn, { code: 80, ignoreComments: true}],
    max-lines: [warn, 300],
    max-lines-per-function: [warn, 20],
    no-console: warn,
    no-plusplus: off,
    no-underscore-dangle: off,
    no-unused-vars: [error, {
      argsIgnorePattern: (^_.*|^opt$),
      caughtErrors: none
    }],
    radix: [error, as-needed],
    semi: [error, never],
    space-before-function-paren: off
  }
}
